/*
    Color Pallet 
*/
@grey-light: #EEEEEE;
@grey-dark: #424145;
@grey-dark-80: rgba(65,66,69,0.8);
@grey-medium: #888888;
@black: #272B2D;
@green: #008744;
@green-light: #51B451;
@blue: #0057E7;
@blue-dark: #002A35;
@blue-medium: #123A44;
@red: #D62D20;
@orange: #FFA700;
@white: #FFFFFF;
@noOpacity: rgba(255, 255, 255, 0.0);

// Sizes
@radius: 4px;

@colorForSideBar: @grey-light;
@bgColorForSideBar: @green;

@bgColorForOptions: url(/images/cartographer_black.png);
@bottomBorderColorForOptionsHeader: @grey-dark;
@colorForOption: @grey-medium;
@borderColorForOptionsDefault: @black;
@borderColorForOptionsHover: @grey-dark;
@borderColorForOptionsActive: @green;
@bgColorForOptionsActive: @green;

@bgColorForSections: url(/images/cartographer_black.png);
@colorForSectionsLink: @grey-medium;
@borderColorForSectionsDefault: @black;
@borderColorForSectionsHover: @grey-dark;
@colorForSectionsActive: @white;
@borderColorForSectionsActive: @green;
@bgColorForSectionsActive: @green;

@bgColorForPrimaryHorizontalLine:  @grey-light;
@bgColorForSecondaryHorizontalLine:  @black;
@bgColorForLogoHorizontalLine:  @green;

@colorForLogo: @grey-light;

@colorForFormLabels: @grey-light;

@colorForActiveSideBarLink: @white;
@colorForSideBarLink: @grey-light;
@colorForSideBarHoverLink: @black;

@borderColorForCode: @grey-dark;


.background {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
}
.menu {
    background-color: @bgColorForSideBar;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 16%;
}
.menu_background, .options_background {
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 75;
}
.options_background {
    background: @bgColorForOptions;    
    right: 0;
    z-index: 0;
}
.clear_text {
    color: @noOpacity;
}
.horizontal_line {
    height: 1px;
    background: @bgColorForPrimaryHorizontalLine;
}
.content_divider .horizontal_line {
    margin: 20px 0;
}
.horizontal_line.options_display {
    background: @bgColorForSecondaryHorizontalLine;
}
.menu {
    overflow: hidden;
}
.menu .horizontal_line {
    background: @bgColorForLogoHorizontalLine;
    width: calc(100% + 30px);
    margin-left: -15%;
}
.logo {
    color: @colorForLogo;
    padding: 5px 0 6px;
}
.sidebar-nav {
    clear: both;
    display: block;
    bottom: 0;
    left: 20px;
    position: relative;
    right: 0;
    top: 10px;
    overflow: scroll;
}
.sidebar-nav-items {
    margin: 0;
    padding: 0 0 26px;
    line-height: 20px;
    list-style: none;
}
.sidebar-nav-items li {
    line-height: 20px;
    list-style-type: none;
}
.sidebar-nav-item {
    display: block;
    margin: 0;
    padding: 6px 20px;
    font-size: 14px;
    list-style-type: none;
}
.sidebar-nav a {
    color: @colorForSideBarLink;
}
.sidebar-nav a:hover {
    color: @colorForSideBarLink;
    text-decoration: underline;
}
.sidebar-nav a.active {
    color: @colorForActiveSideBarLink;
    text-decoration: underline;
}
.header {
    z-index: 100;
    max-width: 100%;
    position: fixed;
}
.header .columns {
    padding-top: 5px; 
    padding-bottom: 5px; 
}
.options_header {
    padding-left: 30px;
    border-bottom: 1px solid @bottomBorderColorForOptionsHeader;
    background: @black;
}
.option {
    cursor: pointer;
    color: @colorForOption;
    padding: 5px 10px;
    margin: 0 5px;
    float: left;
    border-radius: @radius;
    font-size: 12px;
    border: 1px solid @borderColorForOptionsDefault;
}
.option:hover {
    border-color: @borderColorForOptionsHover;
}
.option.active {
    background: @bgColorForOptionsActive;
    border-color: @borderColorForOptionsActive;
    color: @white;
    text-shadow: 0 0 0 @grey-dark-80;
}
.content {
    padding-top: 60px;
}
.content_section {
    max-width: 100%;
}
.options_display {
    margin-top: 20px;
}
.option_content {
    display: none;
}
.option_content.active {
    display: block;
}
.option_content form label {
    color: @colorForFormLabels;
}
.sections {
    display: block;
    clear: both;
    background: @bgColorForSections;
    overflow: auto;
}
.sections a {
    float: left;
    margin: 2px;
    padding: 3px 5px;
    color: @colorForSectionsLink;
    border-radius: @radius;
    border: 1px solid @noOpacity;
}
.sections a.active {
    background: @bgColorForSectionsActive;
    border-color: @borderColorForSectionsActive;
    color: @colorForSectionsActive;
}
.sections a:hover {
    border: 1px solid @borderColorForSectionsHover;
}
.sections a.active:hover {
    border: 1px solid @borderColorForSectionsActive;
}
code {
    border-color: none;
    border-style: none;
    border-width: 0;
    border-radius: @radius;
    font-size: 0.9em;
    border: 1px solid @borderColorForCode;
}

.demo {
    color: @white;
}
input.demoInput {
    height: 2em;
    margin-top: -2px;
}
.demo .submit_demo {
    margin-top: 10px;
}
.formattedJson {
    padding-bottom: 20px;
}




















