/*
    Color Pallet 
*/
.background {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.menu {
  background-color: #008744;
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 16%;
}
.menu_background,
.options_background {
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 75;
}
.options_background {
  background: url(/images/cartographer_black.png);
  right: 0;
  z-index: 0;
}
.clear_text {
  color: rgba(255, 255, 255, 0);
}
.horizontal_line {
  height: 1px;
  background: #EEEEEE;
}
.content_divider .horizontal_line {
  margin: 20px 0;
}
.horizontal_line.options_display {
  background: #272B2D;
}
.menu {
  overflow: hidden;
}
.menu .horizontal_line {
  background: #008744;
  width: calc(130%);
  margin-left: -15%;
}
.logo {
  color: #EEEEEE;
  padding: 5px 0 6px;
}
.sidebar-nav {
  clear: both;
  display: block;
  bottom: 0;
  left: 20px;
  position: relative;
  right: 0;
  top: 10px;
  overflow: scroll;
}
.sidebar-nav-items {
  margin: 0;
  padding: 0 0 26px;
  line-height: 20px;
  list-style: none;
}
.sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none;
}
.sidebar-nav-item {
  display: block;
  margin: 0;
  padding: 6px 20px;
  font-size: 14px;
  list-style-type: none;
}
.sidebar-nav a {
  color: #EEEEEE;
}
.sidebar-nav a:hover {
  color: #EEEEEE;
  text-decoration: underline;
}
.sidebar-nav a.active {
  color: #FFFFFF;
  text-decoration: underline;
}
.header {
  z-index: 100;
  max-width: 100%;
  position: fixed;
}
.header .columns {
  padding-top: 5px;
  padding-bottom: 5px;
}
.options_header {
  padding-left: 30px;
  border-bottom: 1px solid #424145;
  background: #272B2D;
}
.option {
  cursor: pointer;
  color: #888888;
  padding: 5px 10px;
  margin: 0 5px;
  float: left;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #272B2D;
}
.option:hover {
  border-color: #424145;
}
.option.active {
  background: #008744;
  border-color: #008744;
  color: #FFFFFF;
  text-shadow: 0 0 0 rgba(65, 66, 69, 0.8);
}
.content {
  padding-top: 60px;
}
.content_section {
  max-width: 100%;
}
.options_display {
  margin-top: 20px;
}
.option_content {
  display: none;
}
.option_content.active {
  display: block;
}
.option_content form label {
  color: #EEEEEE;
}
.sections {
  display: block;
  clear: both;
  background: url(/images/cartographer_black.png);
  overflow: auto;
}
.sections a {
  float: left;
  margin: 2px;
  padding: 3px 5px;
  color: #888888;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
}
.sections a.active {
  background: #008744;
  border-color: #008744;
  color: #FFFFFF;
}
.sections a:hover {
  border: 1px solid #424145;
}
.sections a.active:hover {
  border: 1px solid #008744;
}
code {
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 4px;
  font-size: 0.9em;
  border: 1px solid #424145;
}
.demo {
  color: #FFFFFF;
}
input.demoInput {
  height: 2em;
  margin-top: -2px;
}
.demo .submit_demo {
  margin-top: 10px;
}
.formattedJson {
  padding-bottom: 20px;
}
