<form class="demo" action="/"> 

  <code class="lang-javascript hljs">

      <div class="row">  
        <div class="large-6 columns text-right ">HTTP Request Method : </div>
        <div class="large-4 columns hljs-keyword">```ad```</div>
        <div class="large-2 columns clear_text">-</div>
      </div>
      <div class="row">  
        <div class="large-6 columns text-right">URL : </div>
        <div class="large-4 columns hljs-keyword">```/API/something```</div>
        <div class="large-2 columns clear_text">-</div>
      </div>
      <div class="row">  
        <div class="large-6 columns text-right">Parameter : </div>
        <div class="large-4 columns hljs-keyword">```json```</div>
        <div class="large-2 columns clear_text">-</div>
      </div>
      <div class="row">  
        <div class="large-6 columns clear_text">-</div>
        <div class="large-4 columns clear_text">- </div>
        <div class="large-2 columns clear_text">-</div>
      </div>
      <div class="row"> 
        <div class="large-6 columns text-right hljs-string">user_id : </div>
        <div class="large-4 columns"><input class="demoInput" type="text" placeholder="Enter user id"/></div>
        <div class="large-2 columns hljs-string text-left">-</div>
      </div>
      <div class="row">
        <div class="large-6 columns text-right hljs-string">order_status : </div>
        <div class="large-4 columns"><input class="demoInput" type="text" placeholder="Enter order status"/></div>
        <div class="large-2 columns hljs-string text-left">-</div>
      </div>
      <div class="row">
        <div class="large-6 columns text-right hljs-string">something : </div>
        <div class="large-4 columns"><input class="demoInput" type="text" placeholder="Enter something"/></div>
        <div class="large-2 columns hljs-string text-left">-</div>
      </div>
      <div class="row">  
        <div class="large-6 columns clear_text">-</div>
        <div class="large-4 columns clear_text">-</div> 
        <div class="large-2 columns clear_text">-</div>
      </div>

  </code> 
  <div class="row">  
    <div class="large-2 columns clear_text">-</div>
    <div class="large-8 columns text-center">
      <a href="#" class="button small expand">Test</a>
    </div>
    <div class="large-2 columns clear_text">-</div>
  </div>
    
</form>

 










