    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/code/hybrid.css">
    <script src="js/jquery.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>