    <div class="menu">
        <div class="logo text-center">Crowd API <img src="images/hero_grey.png" width="30" height="30"></div>
        <div class="horizontal_line"></div>
        <div class="sections text-center">
