
        
    </div> <!-- This is the closing tag for the content -->

<script src="js/Core.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        Core.init();
    });
</script>

</body>
</html>