  <form id="Orders_Check-form">
      <div class="row">
          <div class="large-4 columns">
              <label>user_id
                  <input type="text" placeholder="enter a user_id" />
              </label>
          </div>
          <div class="large-4 columns">
            <label>order_status
              <input type="text" placeholder="order / accepted / purchaced / complete" />
            </label>
          </div>
          <div class="large-4 columns">
            <div class="row collapse">
              <label>lat</label>
              <div class="small-9 columns">
                <input type="text" placeholder="Add latitude in here" />
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
      </div>
  </form>


